$main-orange: #F58F29; 
$main-black: #250001;
$main-grey: #F0F0F0;
$main-violet: #750e47;
$dark-grey: #9c9c9c;

$title: 'Bangers', cursive !important;
$subtitle: 'Montserrat', sans-serif !important;
$text: 'Open Sans', sans-serif !important;