@import "~bootstrap/scss/bootstrap";
@import './styles/variables';

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background-color: $main-grey;
}

.empty{
  margin-top: 2rem;
  height: calc(100% - 63px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
}

.empty h3{
  color: #4a4a4a; 
  text-align: center;
}

.empty img{
  max-width: 668px;
  width: 100%;
}

img{
  vertical-align: bottom;
}

@media (max-width: 992px){
  .empty{
    height: calc(100% - 106px - 2rem);
  }
}